<h1>Borrando Edificios</h1>

<%= form_for(@edificio, :method => "delete") do |f|%>

<h2>¿Está seguro de borrar este edificio?</h2>

<p><%= @edificio.nombre%></p>
<p><%= @edificio.direccion%></p>
<p><%= @edificio.ciudad%></p>

<%= f.submit "Eliminar"%>

<%end%>
<br>
<br>
<%= link_to "Volver", :back %>