<h1>Editando información de edificios</h1>

<%= form_for(@edificio) do |f|%>
<%= f.label :nombre%>
<%= f.text_field :nombre%>
<br>
<br>
<%= f.label :direccion%>
<%= f.text_field :direccion%>
<br>
<br>
<%= f.label :ciudad%>
<%= f.text_field :ciudad%>

<%= f.submit "Editar"%>

<%end%>

<br>
<br>
<%= link_to "Volver al listado de edificios", edificios_path %>
<br>
<br>
<%= link_to "Volver al menú principal", mains_path %>

