<h1>Edificios#index</h1>
<p>Tabla general de edificios</p>
<%= link_to "Agregar Nuevo Edificio", new_edificio_path, :class=> "action new"%>

<table>
    <tr>
        <th>Nombre</th>        
        <th>Dirección</th>
        <th>Ciudad</th>
        <th>Acciones</th>
    </tr>
        
    <% @edificios.each do |i| %>                  
    <tr>
        <td><%=i.nombre%></td>
        <td><%=i.direccion%></td>
        <td><%=i.ciudad%></td>
        <td><%= link_to "Mostrar", edificio_path(i), :class=> "action show"%> 
        <%= link_to "Editar", edit_edificio_path(i), :class=> "action edit"%> </td>
    </tr>
    <% end %>

</table>
<br>

<%= link_to "Agregar Nuevo Edificio", new_edificio_path%> 
