<h1>Edificios#new</h1>
<p>Crear Edificio</p>

<%= form_for(@edificio, :url => edificios_path, :method => 'post') do |f| %>

<th>Nombre</th>
<td><%= f.text_field(:nombre) %></td>
<th>Dirección</th>
<td><%= f.text_field(:direccion) %></td>
<th>Ciudad</th>
<td><%= f.text_field(:ciudad) %></td>
<br>
<br>
<br>
<%= f.submit("Crear Edificio") %>
<% end %>
<br>
<br>

<%= link_to "Volver al listado de edificios", edificios_path %>