<%= form_with(model: [@edificio, departamento], local: true) do |form| %>
  <% if departamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(departamento.errors.count, "error") %> prohibited
        this apartment from being saved:</h2>
      <ul>
        <% departamento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero %>
  </div>
  <div class="field">
    <%= form.label :edificio %>
    <%= form.select :edificio_id, @edificios.map {|edificio|
    [edificio.nombre, edificio.id] }, prompt: "Seleccione una opción..." %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>