<h1>Departamentos#edit</h1>
<h2>Editando información de departamentos</h2>

<%= form_for(@departamento) do |f|%>
<%= f.label :numero%>
<%= f.text_field :numero%>


<%= f.submit "Editar"%>

<%end%>

<br>
<br>
<%= link_to "Volver al listado de departamentos", departamentos_path %>
<br>
<br>
<%= link_to "Volver al menú principal", mains_path %>
