<br>
<br>

<table>
    <tr>
        <th>Número de Departamento</th>        
        <th>Edificio</th>        
        <th>Acciones</th>
    </tr>
        
    <% @departamentos.each do |i| %>                  
    <tr>
        <td><%=i.numero%></td>
        <td><%=i.edificio_id%></td>
        <td><%= link_to "Mostrar", departamento_path(i), :class=> "action show"%> </td>
    </tr>
    <% end %>

</table>
<br>

<%= link_to "Ingresar Nuevo Departamento", new_departamento_path, :class=> "action new"%>
<br>
<%= link_to "Volver al menú principal", :back %>

